                       .header {
                           height: 100px;
                           background-color: rgb(206, 42, 143);
                       }
                       
                       .navbar-style {
                           box-shadow: 0px 10px 10px #66067e;
                       }
                       
                       .logo {
                           position: relative;
                           height: 80px;
                           background-color: white;
                           /* padding: 0px 10px; */
                       }
                       
                       h2 {
                           color: #66067e;
                           text-shadow: 0px 20px 10px rgb(206, 42, 143);
                       }
                       
                       .btn {
                           background-color: rgb(206, 42, 143);
                       }
                       
                       .btn-second {
                           margin-left: 50px;
                       }
                       
                       .navbar {
                           list-style: none;
                           font-size: 20px;
                           ;
                       }
                       
                       .nav-link {
                           color: whitesmoke;
                       }
                       
                       .d-block {
                           height: 400px;
                           box-shadow: 0px 10px 20px #ab345a;
                       }
                       
                       .navbar-toggle {
                           color: black;
                       }